body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("logo.png") no-repeat center fixed;
    background-size: cover;
    color: white;
}
    body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    z-index: -1;
}


.logo {
    width: 180px;
    margin-bottom: 20px;
}

.hero {
    background: radial-gradient(circle, #1a1a1a, #000);
    text-align: center;
    padding: 100px 20px;
    color: #d4af37;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #d4af37;
}

.btn {
    background: #d4af37;
    padding: 12px 25px;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    color: #d4af37;
}

.services-container, .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.service-card, .gallery-container img {
    width: 320px;
    border-radius: 12px;
    overflow: hidden;
    background: #111;
    box-shadow: 0 0 10px #000;
    border: 1px solid #333;
}

.service-card img, .gallery-container img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

footer {
    background: #000;
    color: #d4af37;
    text-align: center;
    padding: 25px 0;
}
